*{
    margin: 0;
    padding: 0;
    list-style: none;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

body{
    background-image: url("../images/background.jpeg");
    background-size: cover;
    font-family: "OpenSans", sans-serif;
}

// Barre de navigation
nav{
    display: flex;
    flex-direction: row;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    .navbar_right{
        display: flex;
        justify-content: flex-end;
        margin-right: 18px;
        li{
            .logo_siri{
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }
            .loupe{
                width: 17px;
                height: 17px;
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                vertical-align: middle;
            }
            .wifi{
                width: 20px;
                height: 15px;
                vertical-align: middle;
            }
            .batterie{
                width: 24px;
                height: 25px;
                vertical-align: middle;
            }
        }
    }
    .navbar_right_portable{
        display: none;
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        padding-left: 0;
        margin-left: 15px;
        li{
            vertical-align: middle;
            a{
                text-decoration: none;
                color: black;
                vertical-align: middle;
                .logo_apple{
                    width: 15px;
                    height: 18px;
                }
            }
        }
    }
    .navbar_left_portable{
        display: none;
    }
}

// ReadMe

.readme{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 100px;
    border: none;
    background-color: transparent;
    .img_readme{
        width: 70px;
        height: 70px;
    }
    p.text_readme{
        font-size: 14px;
        color: white;
        text-align: center;
    }
}

#interior{
    display: flex;
    flex-direction: column;
}

// Modal
.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    & > div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: white;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
}

a#text_readme{
    color: white;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
  
.modal-close {
color: #aaa;
line-height: 50px;
font-size: 80%;
position: absolute;
right: 0;
text-align: center;
top: 0;
width: 70px;
text-decoration: none;
&:hover {
    color: black;
}
}

/* Demo Styles */
.container {
display: grid;
justify-content: center;
align-items: center;
height: 100vh;
}

.modal-window {
& > div {
    border-radius: 1rem;
}
}

.modal-window div:not(:last-of-type) {
margin-bottom: 15px;
}

// Footer
footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    .footer_portable{
        display: none;
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 8px;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        border-radius: 15px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
        li{
            vertical-align: middle;
            img{
                width: 40px;
                height: 40px;
            }
            .finder{
                width: 50px;
                height: 50px;
            }
            .chrome{
                background-color: white;
                border-radius: 10px;
                padding: 2px;
            }
            .visual_studio{
                background-color: white;
                border-radius: 10px;
                padding: 2px;
            }
        }
    }
}

// -------------------RESPONSIVE--------------------------

// Tablette
@media screen and (max-width: 992px){
    // 
}

// Portable
@media screen and (max-width: 600px){
    // Barre de navigation
    nav{
        display: flex;
        flex-direction: row;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 2px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
        .navbar_left{
            display: none;
        }
        .navbar_right{
            display: none;
        }
        .navbar_right_portable{
            display: flex;
            justify-content: flex-end;
            margin-right: 18px;
            li{
                .wifi{
                    width: 20px;
                    height: 15px;
                    vertical-align: middle;
                }
                .batterie{
                    width: 24px;
                    height: 25px;
                    vertical-align: middle;
                }
            }
        }
        .navbar_left_portable{
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-left: 15px;
            li{
                .operateur{
                    vertical-align: middle;
                }
            }
        }
    }

    // Footer
    footer{
        .footer_desktop{
            display: none;
        }
        .footer_portable{
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin-top: 8px;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            border-radius: 15px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}